.post-container {
    display:flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px; 
    color:rgb(54, 54, 54)
   
}

.post-container div:nth-child(2) {
    max-width: 43vw;
}


.post-imagem{
    width: 40vw;
    height:23vw;
    border-radius: 12px;
 
}


.post-date {
    font-size: 0.8rem;
    color:rgb(125, 130, 128)
}

.post-title {
    margin-top: 20px;
    color:rgb(157, 151, 36)
}

.post-description {
    margin-top: 24px;
    text-align: left;
}

